<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- font awesome -->
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Sign Up</title>

    <style>
        body {
            background-color: #00263b;
        }

        .card {
            text-align: center;
            padding-top: 0%;

        }

        .card-body {
            padding-top: 0;
        }

        .card-title {
            font-size: 2rem;
            font-weight: bold;

            margin-top: 3%;
        }

        .form-group .row {
            margin: 0 auto;
        }

        .soical-icon .btn {
            width: 49%;
            margin-bottom: 2%;
        }

        #submit {
            width: 100%;
            margin: 0 auto;
        }

        form input {
            margin-bottom: 3%;
        }

        .input-group {
            margin-bottom: 3%;
        }

        .names input {
            width: 45%;

        }

        .names input:nth-child(2) {
            margin-left: 5%;
            width: 50%;
        }

        .display-5 {
            font-size: 1.8rem;
            margin: 4% 0;
            color: #fff;
        }

        .back {
            position: absolute;
            left: 6%;
            top: 6%;
            font-size: 1.4rem;
            border: 1px solid lightblue;
            padding: 0 8px 3px;
            border-radius: 50%;
            transition: .5s;
            color: white;
        }

        .back:hover {
            background-color: #f7f7f7;
            font-weight: bold;
            cursor: pointer;
            color: black;
        }

        form h6 {
            margin: 5% 0;
        }
    </style>

</head>

<body onload="disableSubmit()">


<div class="container mt-2 pt-2">
    <% if(message){ %>
    <div class="alert alert-success" role="alert">
        <%= message %>
    </div>
    <% }
    %>

    <div class="row justify-content-center">
        <a href="/"><span class="back"><strong>←</strong></span></a>
        <div class="col-lg-5 col-sm-8">
            <a href="/" style="text-decoration: none;"><h1 class="display-5">GetChat</h1></a>
            <div class="card">
                <div class="card-title">Sign up</div>
                <div class="card-body">
                    <form method="post" action="/insert">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon"><i
                                                class="fas fa-envelope-open-text"></i></div>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" name="UserName">
                            </div>
                            <div class="row names">

                                <input type="text" class="form-control" placeholder="First Name" name="name">
                                <input type="text" class="form-control" placeholder="Last Name" name="lastName">
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon"><i
                                                class="fas fa-envelope-open-text"></i></div>
                                </div>
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-phone-alt"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Phone Number" name="phone">
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-key"></i></div>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-key"></i></div>
                                </div>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                       name="verify">
                            </div>


                            <!-- Facebook & google API Button -->
                            <h6 class="text-muted">Or</h6>


                            <div class="form-check mt-4" style="text-align: left;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                       onchange="activateButton(this)">
                                <label class="form-check-label">I accept the terms and condition</label>
                            </div>

                            <button type="submit" id="submit" class="btn btn-primary btn-block mt-4 register-signUpbtn">
                                Sign up
                            </button>
                            <p style="margin-top: 2%;">I have an account <a href="/login" class="card-link"
                                                                            style="text-decoration: underline;">Login</a>
                            </p>
                        </div>
                    </form>

                    <div class="soical-icon">
                        <button class="btn btn-primary"><i class="fab fa-facebook"></i> Facebook</button>
                        <a href="/auth/google">
                            <button class="btn btn-danger"><i class="fab fa-google"></i> Google</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function disableSubmit() {
        document.getElementById("submit").disabled = true;
    }

    function activateButton(element) {

        if (element.checked) {
            document.getElementById("submit").disabled = false;
        } else {
            document.getElementById("submit").disabled = true;
        }

    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>